//html
html{
    font-family: Calibri;
}
body{
    margin: 0 auto;
}
.container{
    background-color: #E0FBFC;
    width: 100%;
    //menus
    header{
        .main-menu{
            display: none;
        }
        //div que abre segundo menu
        .second-menu-open{
            display: none;
        }
        //segundo menu
        .second-menu{
            display: none;
        }
        //second menu animation
        .start{
            animation: movedash 1s ;
        }
        .finish{
            margin-left: 0%;
        }
        .startreverse{
            animation: movedash 1s ;
            animation-direction: reverse;
        }
        .finishreverse{
            margin-left: -100%;
        }
        @keyframes movedash {
            from{
                margin-left: -100%;
            }
            to{
                margin-left: 0%;
            }
        }

        .login{    
            overflow-y:hidden;
            z-index: 1;
            position: fixed;
            width: 100%;
            height: 100%;     
            top: 0;
            display: flex;
            flex-wrap: wrap;
            background:linear-gradient(to left, #349FCF,#33CFC9);
            img{
                width: 50px;
                height: 40px;
                padding: 30px;
                position: fixed;
                filter: invert(100%);
            }
            form{
                width: 100%;
                display: flex;
                flex-direction: column;
                margin:auto;
                input[type=text],input[type=password]{
                    text-align: center;
                    margin: auto;
                    border: none;
                    width: 50%;
                    height: 50px;
                    margin-bottom: 10px;
                }
                input[type=button]{
                    margin: auto;
                    border: none;
                    width: 50%;
                    height: 40px;
                    margin-bottom: 10px;
                    &:hover{
                        background-color:#14ceb1;
                    }
                }
            }
            
        }
        //login animation
        .startlogin{
            animation: movedashlogin 1s ;
        }
        .finishlogin{
            margin-left: 0%;
        }
        .startreverselogin{
            animation: movedashlogin 1s ;
            animation-direction: reverse;
        }
        .finishreverselogin{
            margin-left: 100%;
        }
        @keyframes movedashlogin {
            from{
                margin-left: 100%;
            }
            to{
                margin-left: 0%;
            }
        }
    }
    nav{
        z-index: 0;
        //slideshow
        top:0;
        width: 100%;
        height: 500px;
        position: fixed;
        .slide_image1{
            width: 100%;
            position: fixed;
        }
        .slide_image2{
            width: 100%;
            position: fixed;
        }
        .slide_image3{
            width: 100%;
            position: fixed;
        }
        //slides animation
        .slidein{
            animation: moveslidein 1s ;
        }
        .finishslidein{
            margin-left: 0%;
        }
        .slideout{
            animation: moveslideout 1s ;
        }
        .finishslideout{
            margin-left: -100%;
        }
        @keyframes moveslidein {
            from{
                margin-left: -100%;
            }
            to{
                margin-left: 0%;
            }
        }
        @keyframes moveslideout {
            from{
                margin-left: 0%;
            }
            to{
                margin-left: 100%;
            }
        }
    }
    section{
        position: relative;
        margin-top: 42%;
        text-align: center;
        width: 100%;
        background-color: white;
        .menu{
            position:sticky;
            z-index: 0;
            top: 0;
            background-color: #33CFC9;
            width: 100%;
            ul{
                padding: 0;
                min-height: 50px;
                list-style: none; 
                margin:0;
                display: flex; 
                flex-direction: row;
                li{
                    display: inline;
                    flex-grow: 1;
                    &:hover{
                        background-color: #0092b9;
                    }

                    a{
                        text-decoration: none;
                        color:white;
                        font-size: 1.2em;
                        padding: 20px 0; 
                        display: inline-block; 
                        width: 100%; 
                        text-align: center; 
                    } 
                }
                img{
                    width: 40px;
                    height: 40px;
                    padding: 10px;
                    filter: invert(100%);
                }
            }
        }
        #destaques{
            padding-top: 100px;
            margin: auto;
            width: 50%;
            a{
                font-size: 1.5em;
            }
            img{
                width: 100%;
            }
        }
    }
    footer{
        width: 100%;
        height: 200px;
        background-color: #E2F8F7;    
        position: relative;
    }
    #login_sucesso{
        width: 100%;
        height: 100%;
        margin: auto;
        text-align: center;
        a{
            font-size: 2em;
        }
    }


    //css a baixo de 1000px
    @media screen and (max-width: 960px){
        //menus
        header{
            .main-menu{
                display: block;
                z-index: 2;
                position:fixed;
                top: 0;
                background-color: #33CFC9;
                width: 100%;
                #titulo{
                    text-decoration: none;
                    color:white;
                    font-size: 1.6em;
                    padding: 15px 70px;  
                    float: left;
                }
                img{
                    display: none;            
                }
                .main_imglogin{
                    display: block;
                    padding: 10px;
                    width: 40px;
                    filter: invert(100%);
                    float:right;
                    margin-right: 10px;
                }
            }
            .second-menu-open{
                left: 2%;
                top: 0%;
                display: block;
                position: fixed;
                z-index: 3;
                opacity: 80%;
                img{
                    display: block;
                    width: 60px;
                    filter: invert(100%);
                }
            }
            .second-menu{    
                overflow-y:hidden;
                z-index: 1;
                display: block;
                position: fixed;
                background-color: red;
                width: 100%;
                height: 100%;     
                top: 0;
                display: flex;
                flex-wrap: wrap;
                //lado esquerdo
                #menu{
                    width: 100%; 
                    background-color: white;
                    display: flex;
                    ul{
                        list-style: none; 
                        display: flex;
                        padding: 0;
                        flex-direction: column;
                        margin:auto;        
                        li{
                            a{
                                text-decoration: none;
                                color:#828282;
                                font-size: 1.7em;
                                padding: 20px 0; 
                                display: inline-block; 
                                width: 100%; 
                                text-align: center; 
                                &:hover{
                                    color: #34CFAF;
                                    font-size: 2em;
                                }
                            }
                        }
                    }
                }
            }
            .login{
                img{
                    display: none;
                }
            }
        }
        section{
            margin-top: unset;
            .menu{
                display: none;
            }
            #destaques{
                padding-top: 80px;
                width: 90%;
                text-align: center;
                img{
                    width: 80%;
                }  
                a{
                    font-size: 4vw;
                }
            }
        } 
    }   
    @media screen and (max-width: 465px){
        header{
            .main-menu{
                display: block;
                height: 60px;
                #titulo{
                    display: none;
                }
                #logo{
                    display: block;
                    width: 50px;
                    height: 50px;
                    float: unset;
                    margin: auto;
                    
                    padding-top: 4px;
                }
                .main_imglogin{
                    margin-top: -55px;
                    margin-right: unset;
                    float: right;
                }
            }
            .second-menu-open{
                top:0px;
            }
        }
        nav{
            display: none;
        }        
    }
}
