
.container{  
    section{
        margin-top:unset;
        #main{  
            padding-top: 50px;
            display: flex;
            flex-direction:row;
            width: 100%;
            #lado_esquerdo{    
                padding-left: 4%;
                text-align: left;
                width: 60%;       
                a{
                    font-size: 1.5em;
                }
            } 
            
            #lado_direito{   
                padding-left:10%;
                #logo{
                    padding-top:20%;
                    width: 70%;
                }
                padding-right: 4%;
                font-size: 1.5em;
                text-align: right;
            }
            
        }

        
    }
    @media screen and (max-width: 960px){
        section{
            margin-top: 100px;
            #main{  
                display: unset;
                flex-direction:unset;
                #lado_esquerdo{    
                    padding-left: unset;
                    text-align: center;
                    width: 100%;       
                    a{
                        font-size: 4vw;
                    }
                } 
                
                #lado_direito{   
                    padding-left:unset;
                    #logo{
                        padding-top:20%;
                        width: 50%;
                    }
                    padding-right: unset;
                    font-size: 4vw;
                    text-align: center;
                }
            } 
        }
    }
}