.container{
    section{
        margin-top: unset;
        #main{
            #carta{
                width: 100px;
                height: 100px;
                background-color: red ;
            }
        }
    }
}